<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <p class="lead">
                Quiz
            </p>
        </div>
    </div>
    <div>
        <h2>Would you be able to write a small program using any js framework that you like?</h2>

        <p>Reqs are below.</p>
        <ul>
            <li>
                Use flickr api or any api of your choice to get a list of photos(items) and display it on the page.
                <br>
                <a href="https://api.flickr.com/services/rest/?method=flickr.photos.search&format=json&nojsoncallback=1&api_key=853dcbe812d7c99fcd57c194f6b44c44&tags=soccer" target="_blank">https://api.flickr.com/services/rest/?method=flickr.photos.search&tags=soccer&api_key={key}&format=json</a>
            </li>
            <li>
                Please paginate the list 10 photos per page.
            </li>
            <li>
                When the user clicks on the photo, show it in an overlay.
            </li>
        </ul>
    </div>
    <div class="row text-center">
        <a class="btn btn-primary btn-lg" data-ui-sref="solution"><i class="fa fa-thumbs-up"></i> View Solution</a>
    </div>
</section>
