<section data-ng-controller="SolutionController" data-ng-init="initGallery()">

    <div class="page-header">
        <h1>Quiz Solution: <span ng-bind="config.strTags"></span> Gallery</h1>
    </div>

    <!--// PAGINATION //-->
    <div class="panel-body">

        <div class="col-sm-11 text-right">
            <pagination
                total-items="config.getPagerTotalItems()"
                ng-model="config.intPagerCurrentPage"
                ng-change="config.onPagerChange()"
                class="pagination-md"
                items-per-page="config.intPagerItemsPerPage"
                max-size="5"
                rotate="true"
            ></pagination>
        </div>
        <div class="col-sm-1 text-center">
            <button class="btn btn-default" ng-click="showSettingsModal()"><i class="fa fa-gear"></i></button>
        </div>

    </div>

    <!--// REPEATER //-->
    <div class="panel-body">
        <ul class="list-group">
            <li
                class="container-fluid list-group-item repeater"
                ng-repeat="objImage in arrImages.slice((config.intPagerCurrentPage - 1) * config.intPagerItemsPerPage, config.intPagerCurrentPage * config.intPagerItemsPerPage) track by $index"
                ng-click="showImageModal(objImage)"
            >
                <div class="col-sm-2 text-center">
                    <img src="{{parseThumbUrl(objImage)}}" alt="{{objImage.title}}" title="{{objImage.title}}">
                </div>
                <div class="col-sm-10">
                    <h3 ng-bind="((config.intPagerCurrentPage - 1) * config.intPagerItemsPerPage + $index + 1) + ': ' + objImage.title"></h3>
                </div>
            </li>
        </ul>
    </div>

    <!--// IMAGE MODAL //-->
    <script type="text/ng-template" id="image-modal.html">
        <div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-image"></i> <span ng-bind="modalObjects.objImage.title"></span></h3>
        </div>
        <div class="modal-body text-center">
            <img src="{{parseImageUrl(modalObjects.objImage)}}" alt="{{modalObjects.objImage.title}}" title="{{modalObjects.objImage.title}}">
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Close</button>
            <a class="btn btn-primary" href="https://www.flickr.com/photos/{{modalObjects.objImage.owner}}/{{modalObjects.objImage.id}}" target="_blank"><i class="fa fa-flickr"></i> Original</a>
        </div>
    </script>

    <!--// SETTINGS MODAL //-->
    <script type="text/ng-template" id="settings-modal.html">
        <div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-gear"></i> Settings</h3>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="container-fluid">
                    <div class="col-sm-12 form-group">
                        <label for="txtApiKey">API Key</label>
                        <input class="form-control" id="txtApiKey" name="txtApiKey" ng-model="config.strApiKey">
                    </div>
                    <div class="col-sm-12 form-group">
                        <label for="txtTags">Tag</label><!--// TODO: handle enter key //-->
                        <input class="form-control" id="txtTags" name="txtTags" ng-model="config.strTags">
                    </div>
                    <div class="col-sm-12 form-group">
                        <label for="optPagerItemsPerPage">Items Per Page</label>
                        <select
                            ng-model="config.intPagerItemsPerPage"
                            id="optPagerItemsPerPage"
                            ng-change="config.setPagerItemsPerPage()"
                            class="form-control"
                            ng-options="items as (items + ' per page') for items in [5,10,20]"
                        >
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <!--// ERROR MODAL //-->
    <script type="text/ng-template" id="error-modal.html">
        <div class="modal-header bg-danger topRightRound topLeftRound transformUppercase">
            <h3 class="modal-title"><i class="fa fa-exclamation-triangle danger"></i> Error</h3>
        </div>
        <div class="modal-body">
            <p class="lead">
                <span ng-bind="toJson(modalObjects.err)"></span>
            </p>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-danger" ng-click="ok()">Dismiss</button>
        </div>
    </script>

</section>
