.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

/* globals */

.borderRound{
    border-radius: 6px;
}

.topRightRound{
    border-top-right-radius: 6px;
}

.bottomRightRound{
    border-bottom-right-radius: 6px;
}

.bottomLeftRound{
    border-bottom-left-radius: 6px;
}

.topLeftRound{
    border-top-left-radius: 6px;
}

.transformUppercase {
    text-transform: uppercase;
}

.pagination{
    margin: 0 !important;
}

.repeater img{
    margin: 8px;
}

li.list-group-item.repeater{
    cursor: pointer;
    background: #EEEEEE;
}
li.list-group-item.repeater:nth-child(odd){
    background: #FFFFFF;
}

.modal-body img {
    max-width: 100%;
}
